<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreEngine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D832C671221493CB007A1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D832C67822149454007A1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D832C6972214983D007A1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D832C69E22174B58007A1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
